.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white; /* blanco para que se invierta con blend-mode */
  pointer-events: none;
  z-index: 9999;
  transition: opacity 0.3s ease;
  mix-blend-mode: difference; 
}

.hidden {
  opacity: 0;
}

.visible {
  opacity: 1;
}
